<!--Project name: ./poverty/resources
Description: This website contains directories containing non-profit organizations, projects, and food banks that help those suffering from period poverty. 
One can create an account and create entries for these directories. Additionally, if you require help or would simply like to donate products, 
you can go to a directory, and search for locations closest to you
Filename: _form.html.erb
Description: This page includes the form partial for creating and editing directories
Last modified on: 4/20/2022 -->

<%= form_with(model: directory, local: true) do |form| %>
  <% if directory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(directory.errors.count, "error") %> prohibited this directory from being saved:</h2>

      <ul>
        <% directory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form group">
    <%= form.label :Location %>
    <%= form.text_field :location %>
  </div> 

  <br/>
  <div class="actions">
    <%= form.submit(:class => "btn") %>
  </div>
<% end %>